
body {
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(20deg, #dbdbdb 50% ,  rgb(214, 195, 231)99%);
  min-height: 100vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(80, 79, 79);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
